.color-rojo, .page-admin {color: red;}

.float-right {
  text-align: right;
  color:rgba(121, 121, 121, 1);
  font-size: 12px;
  font-style: italic;
  position: relative;
  top:-10px;
}
.page-order .field-content {
  font-weight: bold;
  font-style: italic;
  color: #990000;
}


/* FLAGS */
.flag {
display:inline-block;
padding:8px 12px;
margin-bottom:0;
font-size:14px;
font-weight:400;
line-height:1.42857143;
text-align:center;
white-space:nowrap;
vertical-align:middle;
-ms-touch-action:manipulation;
touch-action:manipulation;
cursor:pointer;
user-select:none;
background-image:none;
border:1px solid transparent;
border-radius:4px;
color:#fff;

}

.flag:hover {color:#fff; font-weight: bold;}

.views-field a.flag-action {
  background-color:rgb(47, 164, 231);

}
.views-field a.unflag-action {
  background-color:red;

}
a.flag-action {
  background-color:rgb(47, 164, 231);

}
a.unflag-action {
  background-color:red;

}
